<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #004d40;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.navbar a {
    color: #fafafa;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #026753;
    color: #ffffff;
}

.content {
    background: linear-gradient(to bottom, rgba(0,77,64,0.7), rgba(0,77,64,0.7)), url('/dashboardimg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
}

.headline {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px; 
    margin: 10px;
    text-align: center;
    width: 80%; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}


@media (max-width: 768px) {
    .navbar a {
        padding: 8px 10px; 
    }

    .content, .headline {
        padding: 10px; 
        text-align: justify;
    }
}

    </style>
</head>
<body>
    <div class="navbar">
        <a href="/" class="btn waves-effect waves-light">HOME</a>
        <a href="/my-history" class="btn waves-effect waves-light">MY HISTORY</a>
        <a href="/search-by-sport" class="btn waves-effect waves-light">Search by Sport</a>
        <a href="/logout" class="btn waves-effect waves-light">Logout</a>
    </div>
    
    <div class="content">
        <div class="headline">
            <h1>CHOOSE YOUR FAVOURITE SPORTS AND FIND PLAYERS TO PLAY WITH</h1>
            <p>You can connect with playeres with similar sports interest.</p>
        </div>
    </div>
</body>
</html>
